<!--Navbar-->
<div *ngIf="!_auth._isLoggedIn">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand">SwiftBuy</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/register']">Register</a>
        </li>

       
      </ul>
    </links>
      <!-- Links -->
  
  </mdb-navbar>
  <!--/.Navbar-->

  <router-outlet></router-outlet> 
</div>

<div *ngIf="_auth._isLoggedIn">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['home']">SwiftBuy</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" [routerLink]="['home']" mdbWavesEffect >Home</a> 
          <!-- <span class="sr-only">(current)</span> -->
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['profile']">My Profile</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <button (click)="logoutUser()" class="nav-link waves-light" mdbWavesEffect >Logout</button>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown routerLinkActive="active">
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Buyer<span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/catalog']">Browse Catalog</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown routerLinkActive="active">
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect >
            Seller<span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/home/sellinfo/addproduct']">Add Product</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/update']">Update Product</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/sell_history']">My Sell History</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
          </div>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/notifications']">Notifications</a>
        </li>
      </ul>
      <!-- Links -->
  
      <!-- Search form -->
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search a product">
        </div>
      </form>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->

  <router-outlet></router-outlet> 
</div>
