<ul>
    <li *ngFor="let b of sell_history_list">
        <!-- {{notifs.notiftext}} ({{notifs.notiftimestamp}} -->
        <!-- - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a> -->
<div style="display: flex;">
  <mat-card class="example-card custom">
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-title-group>
      <mat-card-title> <a [routerLink]="['/product', b.product_id]">Product Name : {{b.name}}</a> </mat-card-title>
      <!-- <mat-card-subtitle>Product Name : {{b.name}}</mat-card-subtitle> -->
      <mat-card-subtitle>Quantity Sold : {{b.quantity}}</mat-card-subtitle>
      <!-- <mat-card-subtitle>{{b.product_id}}</mat-card-subtitle> -->
      <!-- <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" > -->
    </mat-card-title-group>
  </mat-card>
</div>
</li>
</ul>
