<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Register</h3>
                <div class="card-body">
                    <form action="" class="form">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input [(ngModel)]="registerUserData.name" name="name" type="text" class="form-control rounded-0" required>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control rounded-0" required>
                        </div>
                        <p>
                            <label id="example-radio-group-label">What role do you want to create an account for?</label> 
                            <!-- <button matTooltip="You can buy with a seller account!" mat-mini-fab aria-label="Example icon button with a home icon">
                              <mat-icon>help</mat-icon>
                            </button> -->
                            <br>
                            <mat-radio-group aria-label="Select an option" name="role" [(ngModel)]="registerUserData.role">
                              <mat-radio-button value="seller">Seller</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <mat-radio-button value="buyer">Buyer</mat-radio-button>
                            </mat-radio-group>
                          </p>
                        <div class="form-group">
                            <label for="">Address</label>
                            <input [(ngModel)]="registerUserData.address" name="address" type="text" class="form-control rounded-0" required>
                        </div>
                        <div class="form-group">
                            <label for="">referral_token</label>
                            <input [(ngModel)]="registerUserData.referral_token" name="referral_token" type="text" class="form-control rounded-0" required>
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input [(ngModel)]="registerUserData.password" name="password" type="password" class="form-control rounded-0" required>
                        </div>
                        <div class="form-group">
                            <label for="">Phone Number</label>
                            <input [(ngModel)]="registerUserData.phone" name="phone" type="text" class="form-control rounded-0" required>
                        </div>
                        <button (click)="registerUser()" type="button" class="btn btn-primary float-right">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>